.work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F7E1D4;
    padding-bottom: 30px;
}

.work__text{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 20px; 
}

.packaging{
    background-image: url(../resources/packaging.jpg);
    grid-column: 1/2;
    grid-row: 2/6;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.etiquetas{
    background-image: url(../resources/etiquetas.jpg);
    grid-column: 2/3;
    grid-row: 2/4;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.imprenta{
    background-image: url(../resources/imprenta.jpg);
    grid-column: 2/3;
    grid-row: 4/6;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.branding{
    background-image: url(../resources/branding.jpg);
    grid-column: 3/4;
    grid-row: 2/5;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.stickers{
    background-image: url(../resources/stickers.jpg);
    grid-column: 3/4;
    grid-row: 5/6;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.work__subtitle{
    margin-top: -25px;
}

.hover{
    position: relative;
    z-index: 1;
    margin-left: 0.6rem;
    margin-bottom: 0.6rem;
    border: none;
}

.hover .hover__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 90px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
}

.hover:hover .hover__text{
    opacity: 1;
}

.text__stickers{
    margin-top: -80px;
}

@media (max-width: 505px){
    .hover__text{
        opacity: 1;
    }
    .work{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
        gap: 5px;

    }
    .work__text{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .packaging{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .etiquetas{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .imprenta{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .branding{
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .stickers{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .hover:hover .hover__text{
        opacity: 0;
    }
}