.youtube{
    background-image: url(../resources/youtube.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 30px;

}

.youtube h2{
    color: white;
}

.youtube h3{
    color: #F4BD9F;
    margin-top: -20px;
}

@media (max-width: 600px){
    iframe{
        width: 400; 
        height: auto;
    }
}

@media (max-width: 505px){
    iframe{
        width: 350px; 
        height: 250px;
    }
}